table {
    border-collapse: collapse;
    width: 90%;
    margin:1% 5% 0% 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /* .delete-multiple{
    border-radius: 30%;
  } */

  .rectangle{
    border-left: none;
    border-right: none;
  }

  .semi-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .circle{
    margin: 0px 20px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  /* .checkbox{
    width:10%
  }

  .name{
     width:30%;
  }
  .email{
    width:30%;
  }
  .role{
    width:10%
  } */
  .Pagination-button{
    display:flex;
    justify-content:space-between
  }

  #main {
    display: flex;
  }
  #delete-btn {
    width: 200px;
  }
  .delete-multiple{
    background-color: red;
  }
  #wide {
    flex: 1;
  }