/* Table.js */
table {
    border-collapse: collapse;
    width: 90%;
    margin:1% 5% 0% 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    width: 20px;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .circle{
    margin: 0px 20px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  #pagination-button{
    display:flex;
    justify-content:space-between;
    margin: 10px 20px;
  }

  #main {
    display: flex;
  }

  #delete-btn {
    width: 200px;
  }
  .delete-multiple{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color:rgb(237, 17, 68);
  }
  #wide {
    flex: 1;
  }

  /* Pagination.js */
  .active{
    background-color: white;
  }
  .passive{
    background-color: blue;
  }
  .disabled{
    background-color:grey;
  }