table {
    border-collapse: collapse;
    width: 90%;
    margin:1% 5% 0% 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /* .delete-multiple{
    border-radius: 30%;
  } */

  .rectangle{
    border-left: none;
    border-right: none;
  }

  .semi-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .circle{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
